<div class="animated fadeIn">

  <div class="row">

    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">規格名稱：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.Name" type="text" placeholder="請輸入規格名稱" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">廠商：</label>
            <div class="col-md-9">
              <select class="form-control" id="txt-stn-vname" name="loadline-bmain" [(ngModel)]="refobj.VandorId" (ngModelChange)="dvchange($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="0">請選擇</option>
                <option *ngFor="let v of (xvandors$|async)" [ngValue]="v.Id">{{v.Name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">設備：</label>
            <div class="col-md-9">
              <select class="form-control" id="txt-stn-vname" name="loadline-bmain" [(ngModel)]="refobj.DeviceId" (ngModelChange)="ddchange($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="0">請選擇</option>
                <option *ngFor="let v of (xdevices$|async)" [ngValue]="v.Id">{{v.Name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">組數：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.SetCount" type="number" placeholder="設備單位數" min="1" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>

        </div>

    </div>
    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">購價：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.PurchasePrice" type="number" placeholder="設備購價" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">售價：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.SalePrice" type="number" placeholder="設備售價" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">組數相乘：</label>
            <div class="col-md-9">
              <mat-radio-group aria-label="Select an status" [(ngModel)]="refobj.DoTimes">
                <!--<mat-radio-button [value]="null">全部</mat-radio-button>-->
                <mat-radio-button [value]="true">啟用</mat-radio-button>
                <mat-radio-button [value]="false">停用</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">自訂條碼：</label>
            <div class="col-md-9">
              <mat-radio-group aria-label="Select an status" [(ngModel)]="refobj.WithBarcodes">
                <!--<mat-radio-button [value]="null">全部</mat-radio-button>-->
                <mat-radio-button [value]="true">啟用</mat-radio-button>
                <mat-radio-button [value]="false">停用</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="card">
    <div class="card-header" style="text-align:right">
      <button type="button" class="btn btn-sm btn-primary" (click)="tl.add(refobj)" [disabled]="!refobj.Name || !refobj.VandorId || !refobj.DeviceId || !refobj.SetCount "><i class="fa fa-dot-circle-o"></i> 新增</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="refobj={Display:true};"><i class="fa fa-ban"></i>重設</button>
    </div>
  </div>
</div>
