<div class="animated fadeIn">

  <div class="row">

    <div class="col-md-12">
      <div class="card">

        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">廠商名稱：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.Name" type="text" placeholder="請輸入廠商名稱" [ngModelOptions]="{standalone: true}" required>
       <!--       <span class="help-block">請輸入廠商名稱</span>-->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">狀態：</label>
            <div class="col-md-9">
              <mat-radio-group aria-label="Select an status" [(ngModel)]="refobj.Status" required>
                <mat-radio-button [value]="true">啟用</mat-radio-button>
                <mat-radio-button [value]="false">停用</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">含稅：</label>
            <div class="col-md-9">
              <mat-radio-group aria-label="Select an status" [(ngModel)]="refobj.TaxStatus" required>
                <mat-radio-button [value]="true">啟用</mat-radio-button>
                <mat-radio-button [value]="false">停用</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-primary" (click)="tl.add(refobj)" [disabled]="!refobj.Name || refobj.Status==null || refobj.TaxStatus==null "><i class="fa fa-dot-circle-o"></i> 新增</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="refobj={};"><i class="fa fa-ban"></i>重設</button>
        </div>
      </div>

    </div>

  </div>
</div>
