<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">請購單號：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.ApplyNumber" type="text" placeholder="請輸入請購單號" [ngModelOptions]="{standalone: true}">
              <span class="help-block">This is a help text</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">申請日期：</label>
            <div class="col-md-9">
              <input class="form-control"
                     bsDatepicker
                     [(bsValue)]="refobj.ApplyDate" placeholder="進貨日期"
                       value="{{ refobj.ApplyDate | date: 'yyyy/MM/dd' }}"

                     [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }">
              <span class="help-block">Please enter Date</span>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">進貨日期：</label>
            <div class="col-md-9">
              <div class="input-group">
                <input id="datepicker-purchase_date_s" type="text" class="form-control" placeholder="yyyy/mm/dd"
                       bsDatepicker
                       [(bsValue)]="refobj.PurchaseDate"
                       value="{{ refobj.PurchaseDate | date: 'yyyy/MM/dd' }}"
                       [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }">

              </div>

              <span class="help-block">Please enter a valid date</span>
            </div>
          </div>


        </div>

      </div>

    </div>
    <div class="col-md-6">
      <div class="card">

        <div class="card-body">


          <div class="form-group row">
            <label class="col-md-3 col-form-label">供應商：</label>
            <div class="col-md-9">
              <select class="form-control" id="txt-stn-vname" name="loadline-bmain" [(ngModel)]="refobj.VandorId" (ngModelChange)="dvchange($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="0">請選擇</option>
                <option *ngFor="let v of (xvandors$|async)" [ngValue]="v.Id">{{v.Name}}</option>
              </select>
              <span class="help-block">Please enter your vandor</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">設備：</label>
            <div class="col-md-9">
              <select class="form-control" id="txt-stn-vname" name="loadline-bmain" [(ngModel)]="refobj.DeviceId" (ngModelChange)="ddchange($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="0">請選擇</option>
                <option *ngFor="let v of (xdevices$|async)" [ngValue]="v.Id">{{v.Name}}</option>
              </select>
              <span class="help-block">Please enter a complex password</span>
            </div>
          </div>
          <div class="form-group row" style="min-height:55px;">
            <label class="col-md-3 col-form-label">規格：</label>
            <div class="col-md-9">
              <select class="form-control" id="txt-stn-vname" name="loadline-bmain" [(ngModel)]="refobj.FormateId" (ngModelChange)="mapFormate($event)" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="0">請選擇</option>
                <option *ngFor="let v of (xformates$|async)" [ngValue]="v.Id">{{v.Name}}</option>
              </select>
              <span class="help-block">Please enter a complex password</span>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="row" *ngIf="refobj.Formate">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          規格[{{refobj.Formate.Name}}]  : 組數({{refobj.Formate.SetCount}}) 組數相乘({{refobj.Formate.DoTimes}})

        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" >發票：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.Remark" placeholder="請輸入採購發票" [ngModelOptions]="{standalone: true}">
              <span class="help-block">This is a help text</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"  >採購數量：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.Quantity" type="number" placeholder="請輸入採購數量" (ngModelChange)="mapbarcodes()" [ngModelOptions]="{standalone: true}">
              <span class="help-block">This is a help text</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">單位金額：</label>
            <div class="col-md-9">
              <input class="form-control" [(ngModel)]="refobj.PurchasePrice" type="number" placeholder="請修正單位金額" [ngModelOptions]="{standalone: true}">

              <span class="help-block">Please enter PurchasePrice</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">總金額：</label>
            <div class="col-md-9">
              <span *ngIf="refobj.Quantity>0">
                {{refobj.PurchasePrice * refobj.Quantity}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-primary" (click)="saverefobj()" [disabled]="novalirefobj(refobj)"><i class="fa fa-dot-circle-o"></i> 確認</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="tl.activatedTabIndex=0"><i class="fa fa-ban"></i>取消</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Barcodes
          <div class="card-header-actions">
            <span class="badge badge-pill badge-danger">{{refobj.Quantity   *  (refobj.Formate.DoTimes  ? refobj.Formate.SetCount : 1) }}</span>
            <span class="badge badge-pill badge-info">{{fillBarcodes() }}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row" *ngFor="let b of refobj.Barcodes">
            <div class="col-md-12">
              <input class="form-control" [(ngModel)]="b.BarcodeValue" type="text" />
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>


</div>
